<nav>
  <div class="nav-wrapper teal">
    <div class="container">
      <a href="/" class="brand-logo"><img style="margin: 6px;" src="/img/uts-white.png" height="50" width="150" alt="University of Technology Sydney"
          title="University of Technology Sydney"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/appointment">Appointments</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>