
<% if(sucess_msg.length > 0){
%>
  <div class="alert alert-success"><%=sucess_msg %></div>
<% }%>
<% if(error.length > 0){ %>
  <div class="alert alert-danger"><%=error %></div>
<% }%>

<% if(error_msg.length > 0){ %>
  <div class="alert alert-danger"><%=error_msg %></div>
<% }%>

<% if(errors){
      errors.forEach(error => {%>
      <div class="alert alert-danger"><%=error.msg %></div>
   <% });
}%>