<nav>
  <a href="/">UTS Medical Services</a>
  <div id="navbarNav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>