<nav>
  <a href="/">UTS Medical Services</a>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <% if(user !== null ){  %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/appointment">Appointment</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
     <% } %>
    </ul>
  </div>
</nav>