<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<% include ./partials/scripts.ejs %>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h2 class="lead"><%=docId %></h2>
        <small>Email <a href="mailto:<%=doctor.email%>"><%=doctor.email %></a></small>
    </div>
</div>

<% include ./partials/footer.ejs %>

