<% include ./partials/header %>
<% include ./partials/navbar %>

      <div class="container mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 text-center text-md-left">

            <h1 class="display-4 text-dark font-weight-bold">Welcome to UTS Medical Services</h1>

            <hr class="hr-dark">

            <p>
              <strong>We offer every staffs and students great quality checkup.</strong>
            </p>

            <p class="mb-4 d-none text-dark d-md-block">
              <strong>Please Login to book an appointment.</strong>
            </p>

            <a target="_blank" href="/login" class="btn btn-success ">Login</i>
            </a>

          </div>
          <div class="col-md-6 col-xl-5 mb-4">
            <div class="card">
              <div class="card-body">
                <form name="">
                  <h3 class="dark-grey-text text-center">
                    <strong>If you have any suggestions, please write to us: </strong>
                  </h3>
                  <hr>

                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">Your name</label>
                  </div>
                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea"></textarea>
                    <label for="form8">Your message</label>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-success">Send</button>
                  </div>

                </form>
                </div>

            </div>

          </div>
        </div>

      </div>
<% include ./partials/footer %>