doctype html
html
  head
    title UTS Medical Services
    link(rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.css')
  body
    block content
    br
    hr
    footer
      p Copyright &copy 2018