<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<main>
    <div>
        <h1>University Of Technology Sydney</h1>
        <p>Welcome to UTS Health Service.</p>
    </div>
</main>
  Hey <%= id%>
<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
