<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<% include ./partials/scripts.ejs %>

<%
  if(user){
    if(user.doctor == true){ %>
<div class="container mt-5">
    <div class="container mt-3">
        <div class="row mt-5  mb-3 card-body alert alert-info">
            <p>Profile Details</p>
            <div>
                <ul>
                    <li>Below are the details we have recorded about you.</li>
                    <li>
                        To make any changes, go and click the 'Update Profile' button above and
                        you'll be able to
                        update
                        your details.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Include Doc Profile-->
    <% include ./profiles/docProfile.ejs %>

    <% } else { %>
    <!--Show Student Profile -->
    <div class="container mt-5">
        <div class="container mt-3">
            <div class="row mt-5  mb-3 card-body alert alert-info">
                <p>Profile Details</p>
                <div>
                    <ul>
                        <li>Below are the details we have recorded about you.</li>
                        <li>
                            To make any changes, go and click the 'Update Profile' button above and you'll be able to
                            update
                            your details.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <% include ./profiles/studentProfile.ejs %>
        <%  }
  } 
%>
<% include ./partials/footer.ejs %>