<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

<header>
    <% include ./partials/header %>
</header>

<from method="POST" action="/register">
  <fieldset class="form-group">
    <label for="firstName">First Name: </label>
    <input class="form-control" type="text" placeholder="Enter Your First Name" name="firstName" />
    <label for="lastName">Last Name: </label>
    <input class="form-control" type="text" placeholder="Enter Your Last Name" name="lastName" />
    <label for="email">Email Address: </label>
    <input class="form-control" type="text" placeholder="Enteer Email Address" name="email" />
    <label for="password">Password: </label>
    <input class="form-control" type="password" placeholder="Enter Password" name="password" />
    <label for="password2">Confirm Password: </label>
    <input class="form-control" type="password2" placeholder="Enter Password Again" name="password2" />
   
    <button class="btn btn-primary" type="submit">Register</button>
  </fieldset>
</from>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>