extends ./layout/header.pug

block content 
  h1  Register
  
  from(method="POST")
    fieldset.form-group
      label(for="firstName") First Name: 
      input.form-control(type="text", placeholder="Enter Your First Name", name="firstName")

      label(for="lastName") Last Name: 
      input.form-control(type="text", placeholder="Enter Your Last Name", name="lastName")

      label(for="email") Email Address: 
      input.form-control(type="text", placeholder="Enteer Email Address" name="email")

      label(for="password") Password: 
      input.form-control(type="password", placeholder="Enter Password" name="password")

      label(for="agree") Agree Terms and Conditions 

      input(type="checkbox", name="agree")   

      button.btn.btn-primary(type="submit") Register


