<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="container">
        <div class="text-center mt-5">
            <img src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/tick_green.png" height="50" width="50" class="animated infinite bounce delay-2s">
            <h3>Congratulations!</h3>
            <p>Your booking details is now registered with the System.</p>
            <p>Check your email address for the details of the bookings</p>
            <p>Please be on time!</p>
            <a class="btn btn-success mb-3" href="/">Go Back</a>
        </div>
</div>

<% include ./partials/footer %>