<% include ./partials/header %>
<div class="container">
  <div class="text-center mt-5">
    <img class="animated infinite bounce delay-2s" src="https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/tick_green.png" height="50" width="50">
    <h3>Congratulations!</h3>
    <p>You have successfully updated your details!</p>
    <p>We will log you out so you can see if your changes have been made.</p>
    <a class="btn btn-success mb-3" href="/">Login</a>
  </div>
</div>

<% include ./partials/footer %>