<div class="card">
    <div class="card-body">
        <h3 class="text-center">Booking Policy</h3>
        <p>The UTS Health Service strives to provide high quality health services through a system of booked appointments.
            Due to the demand for services, there are occasions when we cannot provide appointments at the requested time.</p>
        <p>To assist us to provide services for all patients we appreciate it if you:</p>
        <ul>
            <li>Arrive on time for your appointment</li>
            <li>Check in at the reception desk when you arrive</li>
            <li>Please cancel your appointment at least 3 hours in advance if you no longer require the appointment.</li>
        </ul>
        <p>You are responsible for your appointment. If you do not attend for a scheduled appointment (or provide 3 hours’
            notice of cancellation) we will record this information. Commencing on 1 January 2017, if you do not attend for
            a scheduled appointment (or provide 3 hours’ notice to cancel your appointment) on more than one occasion you
            will be charged a non-attendance fee of $40, so we urge you to contact us to let us know if you cannot attend
            your appointment. You will only be permitted to attend this practice for a further appointment following payment
            of the non-attendance fee. The non-attendance fee will not be claimable from Medicare or private health
            insurance.</p>

            <p>The University reserves the right to take all necessary action to protect the safety of its staff,
                  students
            and facilities, and to ensure reasonable use of services and facilities. This may include revoking or placing
            conditions on access to facilities, services, or campus precincts.</p>
        <div class="text-center"><p>You can also make your appointment by calling <b>(02) 9514 1177.</b></p></div>
        <div class="text-right text-danger"><p>By clicking Next you are accepting Booking Policy.</p></div>

    </div>
</div>