<div class="card">
    <div class="card-header">Please select your medical assessments from the list below.</div>
    <div class="card-body">
        <small>Select your medical assessments ( Select multiple options using Ctrl )</small>
        <select id="select" style='overflow:hidden' name="medicalType" class=" form-control mdb-select md-form colorful-select dropdown-sucess" multiple searchable="Search here..">
            <option value="examination">Examination</option>
            <option value="consultation">Consultation</option>
            <option value="chestXray">Chest X-Ray</option>
            <option value="serum">Serum Creatinine</option>
            <option value="hiv">HIV test</option>
            <option value="liver">Liver Function Tests</option>
        </select>
    </div>

</div>